<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script>
             
    
            var url = document.location.href;
       

          
            function CreateURL_Next(){

          
                let numbreArticle = parseInt(document.getElementById('numbreArticleInput').value);
                let page = parseInt(  document.getElementById('pageInput').value ) +1 ;
               
                let index = url.indexOf('/page=');
                let NextUrl="";
                let rt =SplitText(url,'/page=');
                if(rt.End != null){
                     NextUrl= rt.Begin + page + rt.End;
                   
                }
                else{
                    NextUrl= rt.Begin + page;
                }
                if(numbreArticle == 20){
                window.location.replace(NextUrl) ;
                }else{
                    alert("There is no Dimension next :)\n stop your stupidity :|");
                }
        }
    
           function CreateURL_Pre(){

          
                
                let page = parseInt(  document.getElementById('pageInput').value ) -1 ;
               if(page >0){
                let index = url.indexOf('/page=');
                let PreUrl="";
                let rt =SplitText(url,'/page=');
                if(rt.End != null){
                     PreUrl= rt.Begin + page + rt.End;
                   
                }
                else{
                    PreUrl= rt.Begin + page;
                }

                window.location.replace(PreUrl) ;
            }else{
                alert("No Pre Page");
            }

           

        }

            function ArchivedValide(Message){

                let valide = window.confirm(Message);
                return valide;

            }

            function ArchivedItem(id){
               
                let idval= id.slice(0,id.indexOf("Button"));
               
                let val=  document.getElementById(idval).value;
                val = val.replaceAll("'",'"');
                let jso= JSON.parse(val);
                console.log(jso);
                let message = "are you sure to archived "+jso.Title+" with his id = "+jso.idDimension+"?";

                let valide = ArchivedValide(message);
               
                if(valide){
                    alert(jso.Title+'Archived !!!');
                    //Get
                    window.location.replace('/Dimension/Archived/idDimension='+jso.idDimension);
                }else{
                    alert("ترخف");


                }
            }


            function GetModifyPage(id){
                id = id.slice(6);
              if(  ArchivedValide("Modify item ? ")){
                window.location.replace('/Dimension/Modify/idDimension='+id);
              }else{
                  alert("ترخف");
              }
            }

            window.onload = function() {
            //ArchivedItem('HiddenDimension2');

            }
   
            function SplitText(Text,search){
                if(Text.includes(search)){
                    let length = search.length;
                    let index = Text.indexOf(search) +length;
                    let b = Text.slice(0,index);
    
                    while(Text[index] !='/' && index <Text.length){
                        index++;
                    }
                    if(index < Text.length){
                        let f= Text.slice(index);
                        return {Begin:b,End:f};
                    }else{
                        return {Begin:b,End:null};
                    }
    
                }else{
                    return {Begin:Text,End:null};
                }
            }
            

            function SearchTitle(){

                
                

            }

        </script>
</head>
<body>
    <header>
        <a href="/Home">Home</a>
        <a href="/Dimension/page=1">Dimension</a>    
    </header>

    <main>
        <br><br>
        <article>
            <div>Search</div>
            <input type="text" placeholder="Name" name="search" id="Name" onchange="CreateURL_Name();" >
            <input type="number" name="idDimension" placeholder="idDimension"id="idDimension" onchange="CreateURL_Price();" >
            <input type="checkbox" id="Archived" name="Archived" >
             <label for="Archived">Archived</label>
            <br>
            <button type="button" onclick="window.location.replace(url);">Search</button>

        </article>
        <br>

        <button type="button" onclick="window.location.replace('/Dimension/NewDimension')">New Dimension</button>

        <article>

            <table >

                <tr>
                    <th>number </th>
                    <th>idDimension </th>
                    <th>Title </th>
                    <th>Discribe </th>
                  
                </tr>


            <% for(let i=0;i<Result.length;i++){ %> 
                    <% let inc = i+1 %> 
                       
                    <tr>
                        <td><a href="/Dimension/DetailDimension/IdDimension=<%= Result[i].idDimension %>"><%=inc%></a> </td>
                        <td><%= Result[i].idDimension %> </td>
                        <td><%= Result[i].Title%> </td>
                        <td><%= Result[i].Descr %> </td>
                        <td><button class="btn btn-primary blue" id="Modify<%= Result[i].idDimension %>" onclick="GetModifyPage(this.attributes['id'].value)">Modify</button></td>
                        <td><button class="btn btn-primary red" onclick='ArchivedItem(this.attributes["id"].value)' id="HiddenDimension<%= Result[i].idDimension %>Button">Archived</button></td>
                        <td> <input type="hidden" name="Message Archived" value="{'idDimension':'<%= Result[i].idDimension %>','Title':'<%= Result[i].Title %>'}" id="HiddenDimension<%= Result[i].idDimension %>" ></td>
                     
                    </tr>
            <% } %>        
            </table>
        </article>

        <article>
            <input type="hidden" name="page" value="<%= page %>" id="pageInput">
            <% let number = Result.length %> 
            <input type="hidden" name="NumbreArticle" value="<%= number  %>" id="numbreArticleInput" > 
   
            <button type="button" onclick="CreateURL_Pre()">Pre</button>
            <button type="button" onclick="CreateURL_Next()">Next</button>
        
        </article>

    </main>

</body>
</html>