<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>
        <div class="button_Home"><a href="/">Home</a></div>

        <div class="button_">
                <a href="/Article/page=0"> </a>
        </div>

    </header>

    <main>
        <div class="Header_Up"> <a href="/Article/NewArticle"> <button >New Article</button> </a> </div>
        <% if(Archived ==false){ %> 
            <div class="Archived Article"> <a href="/Article/page=1/Archived=1"> <button >Archived Article</a> </div>
        <% } else { %> 
       
            <div class="Archived Article"> <a href="/Article/page=1"> <button >Article</a> </div>

        <% } %> 
            <div  class="Table_Product">

            <table >

                <tr>
                    <td>number</td>
                    <td>IdArticle</td>
                    <td>Product Name</td>
                    <td>Reference</td>
                  
                </tr>
                    
                <% for(let i=0;i<Result.length;i++){ %> 
                    <% let inc = i+1 %> 
                    
                    <tr>
                        <td><a href="/Article/DetailArticle/IdArticle=<%= Result[i].idArticle  %>"><%=inc%></a> </td>
                        <td><%= Result[i].idArticle  %> </td>
                        <td><%= Result[i].Name%> </td>
                        <td><%= Result[i].Reference%> </td>
                     
                    </tr>
                
                <% } %> 


            </table>

        </div>

    </main>
    <% let pre= parseInt(page,10) -1; %> 
    <% let next= parseInt(page,10) +1; %> 
    <% if(Archived==true){ %>
        <% pre = pre + "/Archived=1" %>
        <% next = next + "/Archived=1" %> 
     <%} %>   
    <% if(page != 1) { %>
  <a href="/Article/page=<%= pre  %>" ><button > Preview </button></a>

  <% } %> 
   <a href="/Article/page=<%= next %>"> <button>next</button></a>
</body>
</html>