<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DetailArticle</title>
</head>
<body>
    <header>
        <div class="button_Home"><a href="/home">Home</a></div>
        <div class="button"><a href="/Article/page=1">Articles</a></div>
            <br>
        <div class="button_">
           
            <a href="/Article/AddDimension/idArticle=<%= Article.idArticle %> "> <button class="button">Add DimensionArticle</button></a>
        
        </div>

    </header>


    <main >
        
        
        <div class="row">

                <div class="col">
                         <div class="title row" >
                            <div> <%= Article.Name %> </div>
                             <div> <%= Article.Reference%></div>
                        </div>

                        <br>
                        <div class="information row" >
                            <table>
                                <tr> 
                                    <td><label>Sale Price :</label></td> 
                                    <td><label class="Price_Value"><%= Article.SalePrice %> </label></td>
                                </tr>

                                <tr> 
                                    <td><label>Cost :</label></td> 
                                    <td><label class="Cost_Value"><%= Article.Cost %> </label></td>
                                </tr>

                            </table>
                           
                        </div>
                        <br>

                        <% if(Dimension[0].idDimension != 1){ %>

                        <div class="row " >
                            <table> 
                                <tr>
                                    <th>idDimension</th>
                                    <th>Title Dimension</th>
                                </tr>   



                                <% for(let i=0;i<Dimension.length;i++){ %>
                                    <tr >
                                        <td> <%= Dimension[i].idDimension%> </td>    
                                        <td> <%= Dimension[i].Title%> </td>
                                    </tr>
                                <% } %> 
                            </table>
                        </div>
                        <% } else { %>
                                <div class="alert ">
                                    there is no dimension fr this Article
                                </div>
                            <% } %> 

             </div>

            

        </div>
      
    </main>

</body>
</html>