<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>
        
    </script>

    <title>Document</title>
</head>
<body>
    
    <header > 

    </header>

    <main >
        <button type="button"  onclick="window.location.replace('/Article/DetailArticle/IdArticle=<%= Article.idArticle %> ');">Article Details </button>
        <br>
     <%- include('DetailArticle',{Article:Article,Dimension:Dimension,Dim:true}) -%> 

     <br>
        

     <form method="post" action="/Article/AddDimension/idArticle=<%= Article.idArticle%>">
        <div class="form-group">
            New Dim : 
        </div>
        <select class="form-control" name="idDimension" >
            <% for(let i = 0; i < AllDim.length;i++){ %> 
            <option value="<%= AllDim[i].idDimension  %> "> <%= AllDim[i].Title %></option>
            <%} %>
          
        </select>

        <button type="submit" > Submit</button>
     </form>

     <button type="button"  onclick="window.location.replace('/Dimension/List/idArticle=<%= Article.idArticle%>/page=1');">Other Dim</button>

     <button type="button" onclick="window.location.replace('/Dimension/NewDimension');">Create New Dimension</button>
        


     <button type="button" id="test">test</button>
    </main>

</body>
</html>